<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="checkin.timothyolt.com.roster">

    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.RosterActivity"
                  android:label="Roster"
                  android:launchMode="singleInstance">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                       android:resource="@xml/nfc_tech" />
        </activity>
        <activity android:name=".activities.EventActivity"
                  android:label="Event"
                  android:parentActivityName=".activities.RosterActivity"/>
        <activity android:name=".activities.PersonActivity"
                  android:label="Person"
                  android:parentActivityName=".activities.RosterActivity"/>
        <activity android:name=".activities.LoginActivity"
                  android:label="Login"/>
    </application>
</manifest>
